<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Facturación</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>

<div class="header">

    <h1>📊 Sistema de Facturación</h1>

    <div class="menu-grid">

        <a href="/compras" class="menu-btn">🥚 Liquidación de Compra</a>
        <a href="/ventas" class="menu-btn">🧾 Liquidación de Ventas</a>

        <a href="/clientes" class="menu-btn">👤 Clientes</a>
        <a href="/proveedores" class="menu-btn">🚚 Proveedores</a>

        <a href="/competidores" class="menu-btn">🏁 Competidores</a>

        <a href="/reportes" class="menu-btn">📊 Reportes</a>

        <a href="/historial_liquidaciones" class="menu-btn">📦 Historial Compras</a>
        <a href="/historial_ventas" class="menu-btn">📦 Historial Ventas</a>

        <a href="/historial_reportes" class="menu-btn">📈 Historial Reportes</a>
        <a href="/historial_precios" class="menu-btn">📉 Historial Precios</a>

    </div>

</div>

</body>

</html>